<div class="container-fluid text-center" style="width: 30%;">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-3">
          <label for="email" class="form-label">Correo</label>
          <input formControlName="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input formControlName="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
      </form>
</div>
